<center><h1>Blackjack</h1></center>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>


<button id = "hit1"type="button">Hit Col 1</button>
<button id = "hit2"type="button">Hit Col 2</button>
<button id = "stay"type="button">Stay</button>
<button id = "split"type="button">Split</button>
<button id = "doubleDown1"type="button">Double Down 1</button>
<button id = "doubleDown2"type="button">Double Down 2</button>
<button id = "newgame"type="button">New Hand</button>
<BR>

<!--<BR>Move from column <input type="text" id="from_col"  /> to <input type="text" id="to_col"  /> <button id="moveButton">Move</button>-->
<table>
    <tr class="dealerscore">
        <td>Dealer Score: </td>
        <td id="dealerscore"></td>
    </tr>
    <tr class="playerscore">
        <td>Player Score: </td>
        <td id="playerscore"></td>
    </tr>
    <tr class="Splayerscore">
        <td>Split Hand Player Score: </td>
        <td id="Splayerscore"></td>
    </tr>
    <tr class="money">
        <td>Money: </td>
        <td id="money"></td>
    </tr>
    <tr class="isBet">
        <td>Bet Amount: </td>
        <td id="isBet"></td>
    </tr>
    <tr class="SisBet">
        <td>Split Bet Amount: </td>
        <td id="SisBet"></td>
    </tr>
    <tr class="winningCondition">
        <td></td>
        <td id="winningCondition"></td>
    </tr>
    <tr class="SwinningCondition">
        <td></td>
        <td id="SwinningCondition"></td>
    </tr>
</table>

<table class = "center">
    <tr class="title">
        <td>Dealer</td>
        <td>Player</td>
        <td>Split</td>
    </tr>




    <tr><td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0" background = "" ></td></tr>
            <tr><td class="cardLocation l1" background = "" ></td></tr>
            <tr><td class="cardLocation l2" background = "" ></td></tr>
            <tr><td class="cardLocation l3" background = "" ></td></tr>
            <tr><td class="cardLocation l4" background = "" ></td></tr>
            <tr><td class="cardLocation l5" background = "" ></td></tr>
            <tr><td class="cardLocation l6" background = "" ></td></tr>
            <tr><td class="cardLocation l7" background = "" ></td></tr>
            <tr><td class="cardLocation l8" background = "" ></td></tr>
            <tr><td class="cardLocation l9" background = "" ></td></tr>
            <tr><td class="cardLocation l10" background = "" ></td></tr>
            <tr><td class="cardLocation l11" background = "" ></td></tr>
            <tr><td class="cardLocation l12" background = "" ></td></tr>
            <tr><td class="cardLocation l13" background = "" ></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0" background = "" ></td></tr>
                <tr><td class="cardLocation l1" background = "" ></td></tr>
                <tr><td class="cardLocation l2" background = "" ></td></tr>
                <tr><td class="cardLocation l3" background = "" ></td></tr>
                <tr><td class="cardLocation l4" background = "" ></td></tr>
                <tr><td class="cardLocation l5" background = "" ></td></tr>
                <tr><td class="cardLocation l6" background = "" ></td></tr>
                <tr><td class="cardLocation l7" background = "" ></td></tr>
                <tr><td class="cardLocation l8" background = "" ></td></tr>
                <tr><td class="cardLocation l9" background = "" ></td></tr>
                <tr><td class="cardLocation l10" background = "" ></td></tr>
                <tr><td class="cardLocation l11" background = "" ></td></tr>
                <tr><td class="cardLocation l12" background = "" ></td></tr>
                <tr><td class="cardLocation l13" background = "" ></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>

    </tr>
</table>

<script>

var game;

function display(game) {
console.log(game);
$('#playerscore').html(game.p.score);
$('#Splayerscore').html(game.p.splitScore);
$('#money').html(game.p.money);
$('#isBet').html(game.p.isBet);
$('#SisBet').html(game.p.SisBet);

if(game.winState == "b"){
    $('#winningCondition').html(game.busted);
}else{
    if(game.winState == "w"){
    $('#winningCondition').html(game.win);
    }else{
        if(game.winState == "t"){
            $('#winningCondition').html(game.tied);
        }else{
            if(game.winState == "l"){
              $('#winningCondition').html(game.youLost);

            }else{
              $('#winningCondition').html(game.blank);
              }
        }


    }
}

if(game.SwinState == "b"){
    $('#SwinningCondition').html(game.split + game.busted);
}else{
    if(game.SwinState == "w"){
    $('#SwinningCondition').html(game.split + game.win);
    }else{
        if(game.SwinState == "t"){
            $('#SwinningCondition').html(game.split + game.tied);
        }else{
            if(game.SwinState == "l"){
              $('#SwinningCondition').html(game.split + game.youLost);

            }else{
              $('#SwinningCondition').html(game.blank);
              }
        }


    }


}

if(game.dealersTurn == "t"){
    $('#dealerscore').html(game.dealerScore);
}else{
    $('#dealerscore').html(game.blank);
}

$( '.columnOfCards .cardLocation' ).attr("background","");

    $.each(game.cols[0], function( key, val ) {


    if(val.value==2&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/2_of_clubs.png");
        }

    if(val.value==3&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/3_of_clubs.png");
        }
        if(val.value==4&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/4_of_clubs.png");
        }
        if(val.value==5&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/5_of_clubs.png");
        }
        if(val.value==6&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/6_of_clubs.png");
        }
        if(val.value==7&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/7_of_clubs.png");
        }
        if(val.value==8&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/8_of_clubs.png");
        }
        if(val.value==9&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/9_of_clubs.png");
        }
        if(val.value==10&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/10_of_clubs.png");
        }

        if(val.value==11&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/jack_of_clubs.png");
        }
        if(val.value==12&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/queen_of_clubs.png");
        }
        if(val.value==13&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/king_of_clubs.png");
        }
        if(val.value==14&& val.suit =="Clubs"){
        $( '#c0 .l'+key ).attr("background","assets/images/ace_of_clubs.png");
        }


        if(val.value==2&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/2_of_spades.png");
        }
    if(val.value==3&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/3_of_spades.png");
        }
        if(val.value==4&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/4_of_spades.png");
        }
        if(val.value==5&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/5_of_spades.png");
        }
        if(val.value==6&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/6_of_spades.png");
        }
        if(val.value==7&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/7_of_spades.png");
        }
        if(val.value==8&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/8_of_spades.png");
        }
        if(val.value==9&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/9_of_spades.png");
        }
        if(val.value==10&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/10_of_spades.png");
        }

        if(val.value==11&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/jack_of_spades.png");
        }
        if(val.value==12&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/queen_of_spades.png");
        }
        if(val.value==13&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/king_of_spades.png");
        }
        if(val.value==14&& val.suit =="Spades"){
        $( '#c0 .l'+key ).attr("background","assets/images/ace_of_spades.png");
        }



        if(val.value==2&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/2_of_hearts.png");
        }
    if(val.value==3&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/3_of_hearts.png");
        }
        if(val.value==4&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/4_of_hearts.png");
        }
        if(val.value==5&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/5_of_hearts.png");
        }
        if(val.value==6&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/6_of_hearts.png");
        }
        if(val.value==7&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/7_of_hearts.png");
        }
        if(val.value==8&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/8_of_hearts.png");
        }
        if(val.value==9&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/9_of_hearts.png");
        }
        if(val.value==10&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/10_of_hearts.png");
        }

        if(val.value==11&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/jack_of_hearts.png");
        }
        if(val.value==12&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/queen_of_hearts.png");
        }
        if(val.value==13&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/king_of_hearts.png");
        }
        if(val.value==14&& val.suit =="Hearts"){
        $( '#c0 .l'+key ).attr("background","assets/images/ace_of_hearts.png");
        }

        if(val.value==2&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/2_of_diamonds.png");
        }
    if(val.value==3&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/3_of_diamonds.png");
        }
        if(val.value==4&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/4_of_diamonds.png");
        }
        if(val.value==5&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/5_of_diamonds.png");
        }
        if(val.value==6&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/6_of_diamonds.png");
        }
        if(val.value==7&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/7_of_diamonds.png");
        }
        if(val.value==8&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/8_of_diamonds.png");
        }
        if(val.value==9&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/9_of_diamonds.png");
        }
        if(val.value==10&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/10_of_diamonds.png");
        }

        if(val.value==11&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/jack_of_diamonds.png");
        }
        if(val.value==12&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/queen_of_diamonds.png");
        }
        if(val.value==13&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/king_of_diamonds.png");
        }
        if(val.value==14&& val.suit =="Diamonds"){
        $( '#c0 .l'+key ).attr("background","assets/images/ace_of_diamonds.png");
        }
        if(key == 0 && game.dealersTurn == "f"){
        $( '#c0 .l'+key ).attr("background","assets/cardback.png");
    }




    });

 $.each(game.cols[1], function( key, val ) {
        if(val.value==2&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/2_of_clubs.png");
        }
    if(val.value==3&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/3_of_clubs.png");
        }
        if(val.value==4&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/4_of_clubs.png");
        }
        if(val.value==5&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/5_of_clubs.png");
        }
        if(val.value==6&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/6_of_clubs.png");
        }
        if(val.value==7&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/7_of_clubs.png");
        }
        if(val.value==8&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/8_of_clubs.png");
        }
        if(val.value==9&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/9_of_clubs.png");
        }
        if(val.value==10&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/10_of_clubs.png");
        }

        if(val.value==11&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/jack_of_clubs.png");
        }
        if(val.value==12&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/queen_of_clubs.png");
        }
        if(val.value==13&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/king_of_clubs.png");
        }
        if(val.value==14&& val.suit =="Clubs"){
        $( '#c1 .l'+key ).attr("background","assets/images/ace_of_clubs.png");
        }


        if(val.value==2&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/2_of_spades.png");
        }
    if(val.value==3&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/3_of_spades.png");
        }
        if(val.value==4&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/4_of_spades.png");
        }
        if(val.value==5&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/5_of_spades.png");
        }
        if(val.value==6&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/6_of_spades.png");
        }
        if(val.value==7&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/7_of_spades.png");
        }
        if(val.value==8&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/8_of_spades.png");
        }
        if(val.value==9&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/9_of_spades.png");
        }
        if(val.value==10&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/10_of_spades.png");
        }

        if(val.value==11&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/jack_of_spades.png");
        }
        if(val.value==12&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/queen_of_spades.png");
        }
        if(val.value==13&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/king_of_spades.png");
        }
        if(val.value==14&& val.suit =="Spades"){
        $( '#c1 .l'+key ).attr("background","assets/images/ace_of_spades.png");
        }



        if(val.value==2&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/2_of_hearts.png");
        }
    if(val.value==3&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/3_of_hearts.png");
        }
        if(val.value==4&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/4_of_hearts.png");
        }
        if(val.value==5&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/5_of_hearts.png");
        }
        if(val.value==6&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/6_of_hearts.png");
        }
        if(val.value==7&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/7_of_hearts.png");
        }
        if(val.value==8&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/8_of_hearts.png");
        }
        if(val.value==9&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/9_of_hearts.png");
        }
        if(val.value==10&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/10_of_hearts.png");
        }

        if(val.value==11&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/jack_of_hearts.png");
        }
        if(val.value==12&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/queen_of_hearts.png");
        }
        if(val.value==13&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/king_of_hearts.png");
        }
        if(val.value==14&& val.suit =="Hearts"){
        $( '#c1 .l'+key ).attr("background","assets/images/ace_of_hearts.png");
        }


         if(val.value==2&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/2_of_diamonds.png");
        }
    if(val.value==3&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/3_of_diamonds.png");
        }
        if(val.value==4&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/4_of_diamonds.png");
        }
        if(val.value==5&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/5_of_diamonds.png");
        }
        if(val.value==6&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/6_of_diamonds.png");
        }
        if(val.value==7&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/7_of_diamonds.png");
        }
        if(val.value==8&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/8_of_diamonds.png");
        }
        if(val.value==9&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/9_of_diamonds.png");
        }
        if(val.value==10&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/10_of_diamonds.png");
        }

        if(val.value==11&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/jack_of_diamonds.png");
        }
        if(val.value==12&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/queen_of_diamonds.png");
        }
        if(val.value==13&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/king_of_diamonds.png");
        }
        if(val.value==14&& val.suit =="Diamonds"){
        $( '#c1 .l'+key ).attr("background","assets/images/ace_of_diamonds.png");
        }

    });

 $.each(game.cols[2], function( key, val ) {
        if(val.value==2&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/2_of_clubs.png");
        }
    if(val.value==3&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/3_of_clubs.png");
        }
        if(val.value==4&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/4_of_clubs.png");
        }
        if(val.value==5&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/5_of_clubs.png");
        }
        if(val.value==6&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/6_of_clubs.png");
        }
        if(val.value==7&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/7_of_clubs.png");
        }
        if(val.value==8&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/8_of_clubs.png");
        }
        if(val.value==9&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/9_of_clubs.png");
        }
        if(val.value==10&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/10_of_clubs.png");
        }

        if(val.value==11&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/jack_of_clubs.png");
        }
        if(val.value==12&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/queen_of_clubs.png");
        }
        if(val.value==13&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/king_of_clubs.png");
        }
        if(val.value==14&& val.suit =="Clubs"){
        $( '#c2 .l'+key ).attr("background","assets/images/ace_of_clubs.png");
        }


        if(val.value==2&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/2_of_spades.png");
        }
    if(val.value==3&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/3_of_spades.png");
        }
        if(val.value==4&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/4_of_spades.png");
        }
        if(val.value==5&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/5_of_spades.png");
        }
        if(val.value==6&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/6_of_spades.png");
        }
        if(val.value==7&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/7_of_spades.png");
        }
        if(val.value==8&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/8_of_spades.png");
        }
        if(val.value==9&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/9_of_spades.png");
        }
        if(val.value==10&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/10_of_spades.png");
        }

        if(val.value==11&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/jack_of_spades.png");
        }
        if(val.value==12&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/queen_of_spades.png");
        }
        if(val.value==13&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/king_of_spades.png");
        }
        if(val.value==14&& val.suit =="Spades"){
        $( '#c2 .l'+key ).attr("background","assets/images/ace_of_spades.png");
        }



        if(val.value==2&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/2_of_hearts.png");
        }
    if(val.value==3&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/3_of_hearts.png");
        }
        if(val.value==4&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/4_of_hearts.png");
        }
        if(val.value==5&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/5_of_hearts.png");
        }
        if(val.value==6&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/6_of_hearts.png");
        }
        if(val.value==7&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/7_of_hearts.png");
        }
        if(val.value==8&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/8_of_hearts.png");
        }
        if(val.value==9&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/9_of_hearts.png");
        }
        if(val.value==10&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/10_of_hearts.png");
        }

        if(val.value==11&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/jack_of_hearts.png");
        }
        if(val.value==12&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/queen_of_hearts.png");
        }
        if(val.value==13&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/king_of_hearts.png");
        }
        if(val.value==14&& val.suit =="Hearts"){
        $( '#c2 .l'+key ).attr("background","assets/images/ace_of_hearts.png");
        }


         if(val.value==2&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/2_of_diamonds.png");
        }
    if(val.value==3&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/3_of_diamonds.png");
        }
        if(val.value==4&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/4_of_diamonds.png");
        }
        if(val.value==5&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/5_of_diamonds.png");
        }
        if(val.value==6&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/6_of_diamonds.png");
        }
        if(val.value==7&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/7_of_diamonds.png");
        }
        if(val.value==8&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/8_of_diamonds.png");
        }
        if(val.value==9&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/9_of_diamonds.png");
        }
        if(val.value==10&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/10_of_diamonds.png");
        }

        if(val.value==11&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/jack_of_diamonds.png");
        }
        if(val.value==12&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/queen_of_diamonds.png");
        }
        if(val.value==13&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/king_of_diamonds.png");
        }
        if(val.value==14&& val.suit =="Diamonds"){
        $( '#c2 .l'+key ).attr("background","assets/images/ace_of_diamonds.png");
        }

    });





}

$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});


$("#hit1").click(function(){
$.ajax({
  type: "POST",
  url: "/hit1",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


$("#hit2").click(function(){
$.ajax({
  type: "POST",
  url: "/hit2",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

$("#stay").click(function(){
$.ajax({
  type: "POST",
  url: "/stay",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

$("#split").click(function(){
$.ajax({
  type: "POST",
  url: "/split",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

$("#newgame").click(function(){
$.ajax({
  type: "POST",
  url: "/newGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

$("#doubleDown1").click(function(){
$.ajax({
  type: "POST",
  url: "/doubleDown1",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

$("#doubleDown2").click(function(){
$.ajax({
  type: "POST",
  url: "/doubleDown2",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});

function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}





$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();

//----This should warn about illegal moves---------
/*
var emptyCol = "<td class=\"cardLocation l0\"></td>";
var cols = [$(document.getElementById("col0card").innerHTML), $(document.getElementById("col1card").innerHTML), $(document.getElementById("col2card").innerHTML), $(document.getElementById("col3card").innerHTML)];

 if (cols[0] == emptyCol || cols[1] == emptyCol || cols[2] == emptyCol || cols[3] == emptyCol) {
    $.ajax({
        type: "POST",
        url: "/moveCard/"+colFrom+"/"+colTo,
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
            game = data;
            display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
  } else {
    window.alert("You can only move card to empty column");
 }
*/
//---------------------------------------------------
$.ajax({
   type: "POST",
   url: "/moveCard/"+colFrom+"/"+colTo,
   data: JSON.stringify(game),
   success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
   contentType:"application/json; charset=utf-8",
   dataType:"json",
});
});


</script>



</body>
</html>
